**.pyc
**/*.aar
**/*.apk
**/*.so
**/.coverage
**/.env
**/.mypy_cache
**/.pytest_cache
**/__pycache__
**/benchmarks
**/mindref.ini
**/parse_md_ast.py
*.aar
*.aider*
*.apk
*.egg-info
.coverage
.idea
.venv
.python-version
bin
build
build_p4a
htmlcov/
src/mindref/**.so
tests/**/*.png
uv.lock
venv
makefiles/secrets.mk